@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;600&display=swap');



*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}
  
  /* header section */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid black;
    position: sticky;
    top: 0rem;
    background-color: white;
}
.logo{
  width: 3.5rem;
  height: 3rem;
  margin: 8px 30px;

}

.title-name{
    font-family: 'IBM Plex Serif', serif;
    font-weight:bolder;
    font-size: 2rem;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.nav a{
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.title-bar{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.nav a:hover{
    border-radius: 30px;
    padding: 7px;
    font-weight: 500;
    background-color: rgb(126,34,226);
    color:white;
}

  /* main section */

.content{
    background-image: url("light_background-wallpaper.jpg");
}

#typewriter {
    white-space: nowrap; /* Keep the text in one line */
    overflow: hidden; /* Hide overflowing text */
    border-right: 0.15em solid #000; /* Add cursor effect */
    animation: typewriter 0s steps(40, end); /* Animation duration and steps */
  }
  
  @keyframes typewriter {
    from {
      width: 0; /* Start with no width */
    }
    to {
      width: auto; /* Transition to full width */
    }
  }
  .col1{
    display: flex;
    margin: 9rem;
  }
.col2{
    display: flex;
    margin-top: 13rem;
    margin-left: 7.8rem;
    
    
}

.col2 a{
    border-radius: 10px;
    padding: 15px;
    font-weight: 500;
    background-color: rgb(126,34,226);
    color:white;
    font-weight: 700;
    text-decoration: none;
  margin-right: 2.6rem;

}
  
  .row1{
    margin-left: 6.3rem;
  }
  
.row1:hover{
  background-color: rgb(254, 181, 70);
  color: black;
  border-top: 3px solid black;
  padding-bottom: 10px;


}
.row2:hover{
  background-color:rgb(254, 181, 70);
  font-weight: 600;
  color: black;
  border-top: 3px solid black;
  padding-bottom: 10px;

}
  
  body{
    overflow-x: hidden;
  }