@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Lilita+One&family=Oswald:wght@500&family=Raleway:ital@1&family=Roboto+Mono&family=Rubik:wght@500&family=Tilt+Prism&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none; */
}
body{
  overflow-x: hidden;
}  
  /* header section */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid black;
    position: sticky;
    top: 0rem;
    background-color: white;

}
.logo{
  width: 5.5rem;
  height: 4.5rem;
  margin: 0px 20px;
  padding-bottom: 5px;

}

.title-name{
  font-family: 'Lilita One', cursive;
      /* font-weight:bold; */
    font-size: 2.5rem;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.nav a{
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.5s  0s;
}

.title-bar{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.nav a:hover{
    border-radius: 20px;
    padding: 7px;
    font-weight: 500;
    background-color: rgb(126,34,226);
    color:white;
}




/* Branch section */

.branch-title{
  margin-top: 5rem;
  display: flex;
  font-size: 2.5rem;
  font-family: 'Rubik', sans-serif;
    justify-content: center;
}
.branch-name{
display: flex;
justify-content: space-around;
height: 300px;
margin: 30px 40px;
flex-wrap: wrap;


}
.branch-logo img{
width: 110px;
height: auto;

}
.branch-logo{
  display: flex;
  flex-direction: column;

}
.b-name{
  text-align: center;
  font-family: 'Oswald', sans-serif;
font-weight: 600;
  font-size: 1.4rem;
  transition: transform 0.3s, box-shadow 0.3s; /* Add smooth transitions for transform and box-shadow */
  border: none; /* Remove the border */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a box shadow */

}
#semesterSelect{ 
  visibility: hidden;
}

.branch-logo:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);  border: 2px solid black;
  border-radius: 7px;
}
.b-name {
  /* Specify different styles for the nested boxes */
  box-shadow: none;
  border: 0px solid none;
  
}

.b-name:hover {
  transform: none; /* Apply zoom-in effect on hover for nested boxes */
}

.seeAll{
  display: flex;
  text-align: center;
  align-items: center;
  display:block;
  margin-top: 3rem;
}
.seebtn:hover{
  padding: 15px;
  background-color: rgb(254, 181, 70);
  color: black;
  border-top: 3px solid black;
}

/* popular book section */

.popularBook{
  display: flex;
  justify-content: center;
}

.bookLogo{
  padding: 2rem;
}

.bookSection{
  background-color:beige;
}


/* footer section */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 3rem;
  background-color: rgb(212, 105, 185);
}

.footer ul{
  list-style:none;
  margin: 2rem;

}

.footer ul a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}
.footerImage{
  display: inline-block ;
  padding: 0;
}

.foot ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17vh;
}

.foot ul a:hover{
  text-decoration: underline;
  color: blue;

}
.sub-footer{
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 600;
  font-size: large;

}



.branch-name{
    margin-bottom: 3rem;
    
    }
    
    .diff-branch{
        justify-content: flex-start;
        margin-left: 10.6rem;
    }